<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/index.css" />
      <title>Ravern's Links</title>
  </head>
  <body>
      {{{ body }}}
  </body>
</html>
